.main {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 30px;
  gap: 20px;
  background: transparent;
}

.main textarea {
  padding: 6px 8px;
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.config {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  min-width: 300px;
  gap: 6px;
}

.title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #000;
}

.form {
  min-width: 300px;
}

.formItem {
  display: flex;
  align-items: flex-start;
}

.tips {
  font-size: 12px;
  color: #999999;
}

.example {
  display: flex;
}

.example-label {
  line-height: 24px;
}

.example-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  row-gap: 6px;
}

.output {
  flex: 1;
  height: 100%;
}

.output textarea {
  width: 100%;
  height: 100%;
  max-height: 100%;
  min-height: 700px;
  background: rgba(255, 255, 255, 0.9) !important;
  border: 2px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 8px !important;
}

.footer {
  position: fixed;
  line-height: 42px;
  bottom: 0;
  width: 100%;
  height: 42px;
  background: rgba(0, 0, 0, 0.05);
  color: #000;
}

.footer a {
  color: #000;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
  }

  .config {
    width: 100%;
  }

  .form,
  .main .textarea {
    width: 100%;
  }

  .footer {
    position: relative;
  }
}
